
<div ng-controller="cargaArchivosCtrl" layout="column" ng-cloak>
	<form name="cargarArchivoForm" ng-submit="upload()">
		<div layout-gt-sm="row">

			<md-input-container flex="50"> <label>Client
				Name</label> <input required name="clientName" ng-model="user.document">
			<div ng-messages="projectForm.clientName.$error">
				<div ng-message="required">El campo es requerido.</div>
			</div>
			</md-input-container>

			<div flex="5" hide-xs hide-sm>
				<!-- Spacer //-->
			</div>
			<section layout="row" layout-sm="column" layout-align="center center"	layout-wrap>
				
				<input name="cargar" id="input-file-id"  type="file" uploader-model="file"/> 

			</section>
			<input type="submit" value="Enviar">

		</div>
	</form>
</div>