
<div ng-controller="cargaArchivosCtrl" layout="column" ng-cloak>
	<form name="userForm">
		<div layout-gt-sm="row">

			<md-input-container flex="50">
		          <label>Client Name</label>
		          <input required name="clientName" ng-model="user.document">
		          <div ng-messages="projectForm.clientName.$error">
		            <div ng-message="required">El campo es requerido.</div>
		          </div>
        	</md-input-container>

			<div flex="5" hide-xs hide-sm>
				<!-- Spacer //-->
			</div>
			<div flex="50">
		         
		          <input class="ng-hide" id="input-file-id" multiple type="file" />
				  <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>

        	</div>

		</div>
	</form>
</div>